In [ ]:
import pandas as pd 
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.9 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
h1n1 = pd.read_csv('https://raw.githubusercontent.com/YiyiWang7788/HHA504_Final-/main/H1N1_Flu_Vaccines.csv')
h1n1.sample(3)

       respondent_id  h1n1_concern  ...  h1n1_vaccine  seasonal_vaccine
2477            2477           2.0  ...             0                 1
11712          11712           2.0  ...             0                 0
8373            8373           1.0  ...             0                 1

[3 rows x 38 columns]

In [ ]:

MYSQL_HOSTNAME = '13.59.91.28'
MYSQL_USER = 'DBA'
MYSQL_PASSWORD = 'ahi2021'
MYSQL_DATABASE = 'e2e'

In [ ]:
connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}:3306/{MYSQL_DATABASE}'
engine = create_engine(connection_string)

TABLENAME = 'h1n1'
h1n1.to_sql(TABLENAME, con=engine, if_exists='append')

In [ ]:
print (engine.table_names())

['h1n1']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

In [ ]:
####At terminal, select the table 
### Comands:
### mysql> show tables;
### mysql> select e2e;
### mysql> show tables;